.base{
    font-family:'Courier New', Courier, monospace ;
    background-color: #0B3D91;
    padding: auto;


    .h1{
    padding-top: 5%;
    height: 200px;
    display: flex;
    flex-flow: row;

    background-image: url('/public/NASA_circle_blue.png.crdownload');
    background-repeat: no-repeat;
    background-size: 20% ;
    }
}