.base{
    font-family:'Courier New', Courier, monospace ;
    background-color: #0B3D91;
    
    .h1{
    display: flex;
    background-image: url('/public/NASA_circle_blue.png.crdownload')
  
    }
}